*.avi
*.tlog
*.db
*.idb
*.obj
Debug
*.pdb
*.log
*.sdf
*.jpg
*.exe
*.lib
*.7z
*.sbr
*.bsc
*.opensdf
/CommonClassLibrary/ClassDiagram.cd
/ComputeFeature/ComputeFeature.vcxproj
/ComputeFeature/ComputeFeature.vcxproj.filters
/ComputeFeature/ComputeFeature.vcxproj.user
/ComputeFeature/Feature.txt
/ComputeFeature/Source.cpp
/x64/Release/neg001025.txt
/x64/Release/neg001062.txt
